<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon/flask.jpg" />
    <title>Gadgets</title>
  </head>
  <body>
    <div
      class="flex justify-between w-full items-center bg-black shadow-xl shadow-slate-500 h-20 text-white p-10 font-bold text-xl"
    >
      <div>Gadgets</div>
      <div>
        <a href="/logout">
          <button
            class="border-white border-2 p-2 rounded-2xl hover:shadow-md hover:shadow-slate-100 px-5 hover:bg-blue-800"
          >
            Logout
          </button>
        </a>
      </div>
    </div>

    <!-- all Gadgets -->
    <div
      class="flex flex-wrap w-full mt-10 justify-center md:justify-start ps-5 gap-6 h-44"
      id="getGadgets"
    >
      {% for gadget in Gadgets %}
      <div
        class="bg-gray-600 h-[15rem] flex w-[30rem] text-xl text-white font-bold rounded-2xl"
      >
        <div class="">
          <img
            src="{{gadget[4]}}"
            alt="/"
            class="h-full object-cover rounded-s-2xl w-[25rem]"
          />
        </div>
        <div class="flex w-full flex-col p-6 justify-between gap-2">
          <div>
            <p>{{gadget[1]}}</p>
            <p>{{gadget[2]}}</p>
            <p>{{gadget[3]}}$</p>
          </div>
          <a
            class="flex p-2 bg-blue-950 w-fit ms-auto rounded-lg px-4 justify-end"
            href="{{url_for('gadgetid' , id=gadget[0])}}"
          >
            View
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Adding new Gadget -->
    <div
      class="fixed bottom-10 right-10 bg-blue-800 text-white font-bold text-5xl flex items-center w-20 cursor-pointer h-20 rounded-full justify-center"
      onclick="addGadget()"
    >
      <p class="absolute top-[50%] translate-y-[-50%]">+</p>
    </div>

    <!-- Gadget Upload -->

    <div
      class="bg-slate-800 w-[80%] md:w-[40%] hidden rounded-xl h-[50%] mx-auto mt-10 opacity-70"
      id="uploadGadget"
    >
      <p
        onclick="getAllGadgets()"
        class="text-right text-blue-500 text-5xl me-10 cursor-pointer"
      >
        x
      </p>
      <form
        action=""
        method="post"
        class="flex flex-col p-10 gap-10 text-white"
        enctype="multipart/form-data"
      >
        <div class="flex flex-col gap-3">
          <label for="name"> Name : </label>
          <input
            type="text"
            name="name"
            class="rounded-lg p-1 focus:outline-none text-black"
            id="name"
          />
        </div>
        <div class="flex flex-col gap-3">
          <label for="Description"> Description : </label>
          <input
            type="text"
            name="description"
            class="rounded-lg p-1 focus:outline-none text-black"
            id="Description"
          />
        </div>
        <div class="flex flex-col gap-3">
          <label for="Price"> Price : </label>
          <input
            type="text"
            name="price"
            class="rounded-lg p-1 focus:outline-none text-black"
            id="Price"
          />
        </div>
        <input type="file" name="image" accept="image/*" />

        <button
          type="submit"
          class="bg-blue-950 rounded-2xl border-2 w-52 h-12 mx-auto font-bold text-white text-xl mt-6"
        >
          Submit
        </button>
      </form>
    </div>

    <script type="text/javascript" src="/static/js/delete.js"></script>
  </body>
</html>
