<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>homePage</title>
  </head>
  <body>
    <div class="flex flex-col bg-black text-white h-screen pt-48">
      <h1 class="text-center text-5xl font-bold tracking-wider">Welcome</h1>
      <div class="p-10 text-center flex w-1/2 justify-between mx-auto">
        <a href="/login">
          <button
            class="rounded-2xl border-2 w-52 h-12 mx-auto font-bold text-white text-xl mt-6 hover:bg-white hover:text-black"
          >
            Login
          </button>
        </a>
        <a href="/register">
          <button
            class="rounded-2xl border-2 w-52 h-12 mx-auto font-bold text-white text-xl mt-6 hover:bg-white hover:text-black"
          >
            signup
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
