<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon/flask.jpg" />
    <title>Login</title>
  </head>
  <body>
    <div class="flex">
      <div class="md:w-3/5 w-full mx-auto">
        <h1
          class="text-5xl font-bold tracking-wide text-black text-center mt-36"
        >
          Login To Your Account
        </h1>
        <form
          method="post"
          class="flex flex-col items-center justify-center gap-5 mt-14 text-white"
        >
          <input
            type="text"
            name="username"
            placeholder="Username"
            class="w-[55%] px-5 py-2 rounded-lg bg-gray-900 focus:outline-none"
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="w-[55%] px-5 py-2 rounded-lg bg-gray-900 focus:outline-none"
          />
          <p class="text-red-700 text-xl font-bold">{{errorMessage}}</p>
          <button
            type="submit"
            class="bg-gray-900 rounded-2xl border-2 w-52 h-12 mx-auto font-bold text-white text-xl mt-6"
          >
            Sign In
          </button>
        </form>
      </div>
      <div
        class="bg-gray-900 w-2/5 h-screen hidden text-white md:flex flex-col gap-10 justify-center items-center pt-10"
      >
        <h1 class="font-bold text-5xl tracking-wide md:-mt-48">New Here?</h1>
        <p class="text-xl w-[65%] text-center tracking-wider font-semibold">
          Sign up and discover a great amount of new opportunities!
        </p>
        <a href="/register">
          <button
            class="text-black font-bold tracking-wide bg-white w-40 h-10 rounded-xl"
          >
            Sign Up
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
